/dist
/uploads
/node_modules
/.idea
/coverage
/build
/.cache
/dbdata
/src
/lib
/.yarn

.env
.tsconfig.tsbuildinfo
.gitignore
.eslintrc
.babelrc
.prettierrc
yarn.lock
package-lock.json
yarn-error.log

.DS_Store
.env*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!src/**
/*.js
!index.js
